[user]
        name = SAITOU Keita
        email = keita44.f4@gmail.com
[color]
        ui = auto
        status = auto
        diff = auto
        log = auto
        branch = auto
[alias]
        h = help
        co = checkout
        ci = commit -v
        st = status
        br = branch
        l = log --graph --date=format:'%Y/%m/%d(%a) %T %z'
        a = add .
        addw = !git diff -w --no-color | git apply --cached
        aw = !git diff -w --no-color | git apply --cached
        addp = add -p
        diffs = diff --staged
        diffw = diff --color-words
        pushf = push --force-with-lease
[core]
        editor = emacsclient
        excludesfile = ~/.gitignore_global
[push]
        default = simple
[merge]
        conflictstyle = diff3
[rebase]
        autostash = true
