.emacs.d/abbrev_defs
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/icons.gz
.emacs.d/server
.emacs.d/twittering-mode.gpg
.emacs.d/*.elc
.emacs.d/lisp/*.elc
.emacs.d/srecode-map.el
.emacs.d/network-security.data
.emacs.d/url/*
.emacs.d/kkcrc
