[user]
        name = SAITOU Keita
        email = keita44.f4@gmail.com
[color]
        ui = auto
        status = auto
        diff = auto
        log = auto
        branch = auto
[alias]
        h = help
        co = checkout
        ci = commit -v
        cif = commit -v --amend -C @
        st = status
        br = branch
        l = log --graph --date=format:'%Y/%m/%d(%a) %T %z'
        a = add .
        addw = !git diff --ignore-all-space --no-color | git apply --cached
        aw = !git diff --ignore-all-space --no-color | git apply --cached
        addp = add --patch
        diffs = diff --staged
        diffw = diff --color-words
        pushf = push --force-with-lease
        blames = blame -s
        cp = cherry-pick
        rbi = rebase -i
[core]
        editor = emacsclient
        excludesfile = ~/.gitignore_global
        pager = delta --color-only | less --RAW-CONTROL-CHARS
[interactive]
        diffFilter = delta --color-only
[delta]
        keep-plus-minus-markers = false
        hunk-header-style = blue bold ul
        file-style = yellow
[push]
        default = simple
[merge]
        conflictstyle = diff3
[rebase]
        autostash = true
[blame]
        date=format:%m/%d(%a)%R
