*.elc
flycheck_*.el
.emacs.d/auto-save-list/
.emacs.d/elpa/
.emacs.d/el-get/
.emacs.d/url/
.emacs.d/.persp-confs/
.emacs.d/request/
.emacs.d/transient/
.emacs.d/.cache/
.emacs.d/eln-cache/
.emacs.d/eshell/
.emacs.d/abbrev_defs
.emacs.d/ac-comphist.dat
.emacs.d/icons.gz
.emacs.d/server
.emacs.d/twittering-mode.gpg
.emacs.d/srecode-map.el
.emacs.d/network-security.data
.emacs.d/.python-environments
.emacs.d/kkcrc
.emacs.d/.last-package-update-day
.emacs.d/image-dired
.emacs.d/.emacs.desktop*
.emacs.d/.recentf
.emacs.d/recentf*
.emacs.d/tramp
.emacs.d/custom.el*
.emacs.d/.perspective
.emacs.d/projectile-*
.emacs.d/places
.emacs.d/.lsp-session-v1
.emacs.d/package-quickstart.el
.emacs.d/projects
