[submodule ".emacs.d/snippets/sml-mode"]
	path = .emacs.d/snippets/sml-mode
	url = git@github.com:yonta/yasnippet-sml-mode.git
[submodule ".emacs.d/snippets/python-mode"]
	path = .emacs.d/snippets/python-mode
	url = git@github.com:marubu/yasnippet-numpy-style.git
	ignore = dirty
