---
include:
  - "**/*.rb"
exclude:
  - test/**/*
  - vendor/**/*
  - ".bundle/**/*"
require: []
domains: []
reporters:
  - rubocop
  # - require_not_found
  # - typecheck
  - update_errors
  # - all!
formatter:
  rubocop:
    cops: safe
    except: []
    only: []
    extra_args: []
require_paths: []
plugins:
  - solargraph-rails
  - solargraph-rails-patch-for-rails71
  - solargraph-rspec
max_files: 5000
